<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        
        <h2>Quick links</h2>
        <p><a href="/api/users">Users</a></p>
        <p><a href="/api/user/1">User 1</a></p>
        <p><a href="/api/user/2">User 2</a></p>
        <p><a href="/api/user/3">User 3</a></p>
        <p><a href="/send_test_email">Send test email</a></p>
        <p><a href="/export_data">Export data</a></p>

        <h2>Email Lists</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for email_list in email_lists %}
                <tr>
                    <td>{{ email_list[0] }}</td>
                    <td>{{ email_list[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Users and Subscriptions</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Email List</th>
                </tr>
            </thead>
            <tbody>
                {% for user_subscription in users_subscriptions %}
                <tr>
                    <td>{{ user_subscription[0] }}</td>
                    <td>{{ user_subscription[1] }}</td>
                    <td>{{ user_subscription[2] }}</td>
                    <td>{{ user_subscription[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Email History</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email List</th>
                    <th>Date Sent</th>
                </tr>
            </thead>
            <tbody>
                {% for history in email_history %}
                <tr>
                    <td>{{ history[0] }}</td>
                    <td>{{ history[1] }}</td>
                    <td>{{ history[2] }}</td>
                    <td>{{ history[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Scheduled send</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Function</th>
                    <th>Arguments</th>
                    <th>Trigger</th>
                    <th>Max instances</th>
                    <th>Next run</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.name }}</td>
                    <td>{{ job.func }}</td>
                    <td>{{ job.args }}</td>
                    <td>{{ job.trigger }}</td>
                    <td>{{ job.max_instances }}</td>
                    <td>{{ job.next_run_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
