<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recorder Feedback Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recorder feedback controller 🤖</h1>
        <p><a href="{{ url_for('admin') }}">Admin panel</a></p>
        <p><a href="https://github.com/simonrolph/recorder-feedback-controller">Documentation</a></p>
    </div>
</body>
</html>