<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/submit" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude"><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude"><br>
        <label for="radius">Radius (in km):</label><br>
        <input type="text" id="radius_km" name="radius_km"><br>
        <label for="indicia_id">Indicia ID:</label><br>
        <input type="text" id="indicia_id" name="indicia_id"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
